#
# ESP-IDF SDK Configuration File.
# Locha Mesh - Turpial Firmware Project Configuration
#

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../partitions_custom.csv"
CONFIG_PARTITION_TABLE_FILENAME="../partitions_custom.csv"
# end of Partition Table

#
# HTTPS Server Config
#
CONFIG_ESP_HTTPS_SERVER_ENABLE=y
CONFIG_HTTPD_WS_SUPPORT=y
# end of HTTPS Server Config

#
# Serial Flasher Config
#
CONFIG_ESPTOOLPY_BAUD_OTHER_VAL=115200
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
# end of Serial flasher config

#
# LWIP Config
#
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_SLIP_SUPPORT=y
CONFIG_LWIP_SLIP_RX_FROM_ISR=y
# end of LWIP Config
