#
# ESP-IDF SDK Configuration File.
# Locha Mesh - Turpial Firmware Project Configuration
#

#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="../partitions_custom.csv"
CONFIG_PARTITION_TABLE_FILENAME="../partitions_custom.csv"
# end of Partition Table

#
# SPI RAM options
#
CONFIG_ESP32_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_TYPE_AUTO=y
# end of SPI RAM options

#
# Compiler Options
#
CONFIG_COMPILER_CXX_EXCEPTIONS=y
# end of Compiler Options

#
# mbedTLS Config
#
#CONFIG_MBEDTLS_MEM_ALLOC_MODE=
CONFIG_MBEDTLS_EXTERNAL_MEM_ALLOC=y
CONFIG_MBEDTLS_HARDWARE_AES=y
CONFIG_MBEDTLS_HARDWARE_MPI=y
CONFIG_MBEDTLS_HARDWARE_SHA=y
# End of mbedTLS Config

#
# HTTPS Server Config
#
CONFIG_ESP_HTTPS_SERVER_ENABLE=y
CONFIG_HTTPD_WS_SUPPORT=y
# end of HTTPS Server Config

#
# Serial Flasher Config
#
CONFIG_ESPTOOLPY_BAUD_OTHER_VAL=115200
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
# end of Serial flasher config

#
# Unity unit testing library
#
CONFIG_UNITY_ENABLE_FLOAT=y
CONFIG_UNITY_ENABLE_DOUBLE=y
CONFIG_UNITY_ENABLE_COLOR=y
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=y
# end of Unity unit testing library
