menu "Turpial Firmware configuration"

config TURPIAL_GLOBAL_ADDR
    string "Turpial default IPv6 global address"
    default "2001:db8::1"
    help
        Turpial default IPv6 global address

config TURPIAL_GLOBAL_PREFIX
    int "Prefix in bits for Turpial global address"
    default 64
    help
        Global prefix in bits for Turpial global address

endmenu
