menu "Turpial Firmware Configuration"

config DEVICE_NAME
    string "Device name"
    default "turpial"
    help
        "The device name"

config DEVICE_VERSION
    string "Device version"
    default "v0.1.0"
    help
        "Current firmware version"

menuconfig ESC_ENABLED
    bool "ESC subsystem"
    default true
    help
        "Configure the ESC subsystem (BQ27441g)"

if ESC_ENABLED

config ESC_MAX_BATTERY_CAPACITY
    int "Maximum battery capacity in mAh"
    default 2000
    help
        "Maximum battery capacity in mAh units"

config ESC_LOW_BATTERY_THRESHOLD
    int "Low battery threshold in %"
    default 20
    range 0 100
    help
        "Low battery threshold in %"

config ESC_CRITICAL_BAT_THRESHOLD
    int "Critical battery percentage threshold"
    default 7
    range 0 100
    help
        "Critical battery percentage threshold"

config ESC_GPOUT_PIN
    int "GPOUT signal pin"
    default 18
    range 0 32
    help
        "GPOUT signal pin number"

config ESC_SYSOFF_PIN
    int "SYSOFF signal pin"
    default 27
    range 0 32
    help
        "SYSOFF signal pin number"
endif

config ESC_SOC_DELTA
    int "State-of-Charge delta value"
    default 1
    range 1 100
    help
        "State-of-Charge delta (change) value"

endmenu
