# Copyright (c) 2021 btcven and Locha Mesh developers
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD
    default "turpial-esp32" if BOARD_TURPIAL_ESP32

config BOARD_TURPIAL_ESP32
    bool
    default y
    select BOARD_COMMON_ESP32
    select CPU_MODEL_ESP32_WROVER
    select HAS_ESP_RTC_TIMER_32K
    select HAS_ESP_SPI_RAM
    select HAS_PERIPH_ADC
    select HAS_PERIPH_I2C
    select HAS_PERIPH_PWM
    select HAS_PERIPH_SPI
    select HAS_ARDUINO

source "$(RIOTBOARD)/common/esp32/Kconfig"
